:root {
  --clr-desaturated-red: hsl(0, 36%, 70%);
  --clr-soft-red: hsl(0, 93%, 68%);
  --clr-dark-grayish-red: hsl(0, 6%, 24%);
  --gradient-main: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --gradient-active: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 90%));
  --bg-gradient: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --input-border-clr: rgba(206, 151, 151, .5);
}

html {
  box-sizing: border-box;
  line-height: 1.2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
}

body {
  min-height: 100vh;
  font: normal 400 0.86875rem "Josefin Sans", sans-serif;
  color: var(--clr-desaturated-red);
  background: var(--bg-gradient) center/cover no-repeat;
}
@media (min-width: 768px) {
  body {
    font: normal 400 1rem "Josefin Sans", sans-serif;
  }
}

.wrapper {
  display: grid;
  grid-template-areas: "header" "aside" "main";
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  .wrapper {
    grid-template-areas: "header aside" "main aside";
    grid-template-columns: 445px minmax(auto, 610px);
    grid-template-rows: auto minmax(auto, 100%);
    -moz-column-gap: 60px;
         column-gap: 60px;
    padding-left: 85px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    -moz-column-gap: 120px;
         column-gap: 120px;
    padding-left: 165px;
  }
}
@media (min-width: 1400px) {
  .wrapper {
    -moz-column-gap: 220px;
         column-gap: 220px;
  }
}

.header {
  grid-area: header;
  margin: 32px;
}
@media (min-width: 992px) {
  .header {
    margin: 66px 0 138px 0;
  }
}
.header__logo {
  display: block;
  width: 100px;
}
@media (min-width: 768px) {
  .header__logo {
    width: 158px;
  }
}

.main {
  grid-area: main;
}

.section {
  width: 311px;
  margin: 0 auto 92px;
  text-align: center;
}
@media (min-width: 768px) {
  .section {
    width: 445px;
  }
}
@media (min-width: 992px) {
  .section {
    margin: 0;
    text-align: left;
  }
}
.section .section__button:focus, .section .section__input:focus {
  border: 1px solid var(--clr-dark-grayish-red);
}
.section__title {
  margin-bottom: 22px;
  font-size: 2.625rem;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--clr-dark-grayish-red);
}
@media (min-width: 768px) {
  .section__title {
    font-size: 4.25rem;
  }
}
@media (min-width: 992px) {
  .section__title {
    margin-bottom: 34px;
  }
}
.section__word-thin {
  font-weight: 300;
  color: var(--clr-desaturated-red);
}
.section__text {
  margin: 0 8px 38px;
  line-height: 1.7;
}
@media (min-width: 992px) {
  .section__text {
    margin: 0 0 40px;
  }
}
.section__form {
  position: relative;
  max-width: 445px;
}
.section__input {
  width: 100%;
  height: 48px;
  padding: 0 88px 0 24px;
  color: var(--clr-dark-grayish-red);
  border: 1px solid var(--input-border-clr);
  border-radius: 30px;
  background-color: transparent;
}
@media (min-width: 768px) {
  .section__input {
    height: 56px;
  }
}
.section__input::-moz-placeholder {
  color: var(--clr-desaturated-red);
  opacity: 0.5;
}
.section__input::placeholder {
  color: var(--clr-desaturated-red);
  opacity: 0.5;
}
.section__button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 64px;
  height: 48px;
  border-radius: 30px;
  background-image: var(--gradient-main);
  box-shadow: 0 10px 21px -1px rgba(206, 151, 151, 0.6);
  cursor: pointer;
}
@media (min-width: 768px) {
  .section__button {
    width: 100px;
    height: 56px;
  }
}
.section__button:focus, .section__button:hover {
  background-image: var(--gradient-active);
  box-shadow: 0 14px 22px 0px rgba(206, 151, 151, 0.8);
}
.section__icon-arrow {
  width: 100%;
  height: 100%;
  background: url("../images/icon-arrow.svg") center/12px 20px no-repeat;
}

.sidebar {
  grid-area: aside;
  height: 250px;
  margin-bottom: 66px;
}
@media (min-width: 992px) {
  .sidebar {
    height: auto;
    margin-bottom: 0;
  }
}
.sidebar__image {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}/*# sourceMappingURL=style.css.map */