@use '../util' as u;

html {
  box-sizing: border-box;
  line-height: 1.2;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
}

body {
  min-height: 100vh;
  font: normal 400 u.rem(13.9) u.$font;
  color: var(--clr-desaturated-red);
  background: var(--bg-gradient) center / cover no-repeat;
}
